<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573492379198-spmt8u08pavfpkfc11gb1o1eec3goo4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573492379198-spmt8u08pavfpkfc11gb1o1eec3goo4p</string>
	<key>API_KEY</key>
	<string>AIzaSyBx0vS8uGH0PPB90kNrBtAx7NYYNCinCMg</string>
	<key>GCM_SENDER_ID</key>
	<string>573492379198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devin.safeApp</string>
	<key>PROJECT_ID</key>
	<string>safeapp-91f08</string>
	<key>STORAGE_BUCKET</key>
	<string>safeapp-91f08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573492379198:ios:8766e2fc8c845f29</string>
	<key>DATABASE_URL</key>
	<string>https://safeapp-91f08.firebaseio.com</string>
</dict>
</plist>